# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
data = {
    'ano': [1900, 1920, 1940, 1960, 1980, 2000, 2020],
    'anomalia_termica': [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
}

temperature_series = pd.Series(data=data['anomalia_termica'], index=data['ano'])
temperature_series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui (done above)
temperature_series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperature_series_from_dict = pd.Series(dic_temperaturas)
temperature_series_from_dict

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df_from_array = pd.DataFrame(arr, columns=['Column1', 'Column2', 'Column3'])
df_from_array

       Column1     Column2     Column3
0    97.999076   92.596654  105.557828
1    86.551847   93.622977  112.620544
2   104.374860   81.448165   79.935265
3    98.258251   93.027533  102.235729
4    72.009488  119.592621  104.852411
5   109.794145   91.905512  106.108400
6    85.434311  101.368621   93.837508
7    92.716411  101.069667  100.424089
8   109.083659   94.563005   92.136239
9   107.292871  103.945743  105.707977
10   93.493718  101.133486  100.461670
11  121.443251  108.898108   89.418376
12  118.236062  101.102792  119.265031
13  103.216069   97.793484   93.867752
14  104.108834   92.885063   90.786965
15   94.990396   95.517880   99.947597
16   96.153087  109.476411   94.571925
17   92.742516  106.584911   95.174987
18   90.400635  107.560177  101.616535
19   83.285253   96.390604  100.597645

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [6]:
#seu código aqui
df_from_array.index = range(1, 21)
df_from_array.columns = ['x1', 'x2', 'x3']
df_from_array

            x1          x2          x3
1    97.999076   92.596654  105.557828
2    86.551847   93.622977  112.620544
3   104.374860   81.448165   79.935265
4    98.258251   93.027533  102.235729
5    72.009488  119.592621  104.852411
6   109.794145   91.905512  106.108400
7    85.434311  101.368621   93.837508
8    92.716411  101.069667  100.424089
9   109.083659   94.563005   92.136239
10  107.292871  103.945743  105.707977
11   93.493718  101.133486  100.461670
12  121.443251  108.898108   89.418376
13  118.236062  101.102792  119.265031
14  103.216069   97.793484   93.867752
15  104.108834   92.885063   90.786965
16   94.990396   95.517880   99.947597
17   96.153087  109.476411   94.571925
18   92.742516  106.584911   95.174987
19   90.400635  107.560177  101.616535
20   83.285253   96.390604  100.597645

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [7]:
# seu código aqui
df_from_array['media'] = df_from_array[['x1', 'x2', 'x3']].mean(axis=1)
df_from_array

            x1          x2          x3       media
1    97.999076   92.596654  105.557828   98.717853
2    86.551847   93.622977  112.620544   97.598456
3   104.374860   81.448165   79.935265   88.586097
4    98.258251   93.027533  102.235729   97.840504
5    72.009488  119.592621  104.852411   98.818173
6   109.794145   91.905512  106.108400  102.602686
7    85.434311  101.368621   93.837508   93.546813
8    92.716411  101.069667  100.424089   98.070056
9   109.083659   94.563005   92.136239   98.594301
10  107.292871  103.945743  105.707977  105.648864
11   93.493718  101.133486  100.461670   98.362958
12  121.443251  108.898108   89.418376  106.586578
13  118.236062  101.102792  119.265031  112.867962
14  103.216069   97.793484   93.867752   98.292435
15  104.108834   92.885063   90.786965   95.926954
16   94.990396   95.517880   99.947597   96.818624
17   96.153087  109.476411   94.571925  100.067141
18   92.742516  106.584911   95.174987   98.167471
19   90.400635  107.560177  101.616535   99.859116
20   83.285253   96.390604  100.597645   93.424501

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [8]:
# seu código aqui
df_from_array['log_med'] = np.log(df_from_array['media'])
df_from_array

            x1          x2          x3       media   log_med
1    97.999076   92.596654  105.557828   98.717853  4.592266
2    86.551847   93.622977  112.620544   97.598456  4.580862
3   104.374860   81.448165   79.935265   88.586097  4.483975
4    98.258251   93.027533  102.235729   97.840504  4.583339
5    72.009488  119.592621  104.852411   98.818173  4.593282
6   109.794145   91.905512  106.108400  102.602686  4.630864
7    85.434311  101.368621   93.837508   93.546813  4.538462
8    92.716411  101.069667  100.424089   98.070056  4.585682
9   109.083659   94.563005   92.136239   98.594301  4.591013
10  107.292871  103.945743  105.707977  105.648864  4.660121
11   93.493718  101.133486  100.461670   98.362958  4.588664
12  121.443251  108.898108   89.418376  106.586578  4.668958
13  118.236062  101.102792  119.265031  112.867962  4.726219
14  103.216069   97.793484   93.867752   98.292435  4.587947
15  104.108834   92.885063   90.786965   95.926954  4.563587
16   94.990396   95.517880   99.947597   96.818624  4.572839
17   96.153087  109.476411   94.571925  100.067141  4.605841
18   92.742516  106.584911   95.174987   98.167471  4.586675
19   90.400635  107.560177  101.616535   99.859116  4.603760
20   83.285253   96.390604  100.597645   93.424501  4.537154